.header
  .header__left
    .header__left__user
      = current_user.name
    = link_to new_group_path, class: "header__left--icon" do
      = fa_icon 'edit', class: "header__left--icon__edit"
    = link_to edit_user_path(current_user), class: "header__left--icon" do
      = fa_icon 'cog', class: "header__left--icon__cog"

.body
  .body__left
    - current_user.groups.each do |group|
      =link_to group_messages_path(group) do
        .body__left__group
          = group.name
        .body__left__message
          メッセージはまだありません。